* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body {
    background: #0A0A0A;

    
}
.root {
    background-repeat: no-repeat;
    background-image: url('./theme.png');  
    background-size: 100%;
}
//   font-family: 'Comfortaa', cursive;
//   font-family: 'Nunito', sans-serif;
.container {
    max-width: 1460px;
    margin: 0 auto;
}
.header {
    margin-top: 2.5rem;
    &__container {
        display: flex;
        align-items: center;
    }
    &__logo {
        img {
            width: 79px;
            height: 67px;
        }
    }
    &__links {
        display: flex;
        flex-direction: row;
        align-items: center;
        a {
            text-decoration: none;
            color: #FFFFFF;
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 300;
            font-size: 28px;
            line-height: 38px;
            white-space: nowrap;
        }
        li {
            list-style-type: none;
        }
        li:first-of-type {
            margin-left: 50px;
        }
        li+li {
            margin-left: 40px;
        }
    }
    &__nav {
        display: flex;
        flex-direction: row;
        margin-left: 120px;
        button {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            margin: 0;
            background-color: initial;
            border: none;
            cursor: pointer;
            span {
                font-family: 'Nunito';
                font-style: normal;
                font-weight: 300;
                font-size: 28px;
                line-height: 38px;
                color: #FFFFFF;
                margin-right: 10px;
            }
        }
        button:first-of-type {
            margin-right: 40.5px;
        }
        button:nth-last-of-type(1) {
            border: 2px solid #FFFFFF;
            border-radius: 50px;
            padding: 5px 20px 5px 15px;
            margin-left: 12px;
        }
    }
}
.main {
    &__container {
        display: flex;
        flex-direction: row;
    }
    .content {
        &__title {
            font-family: 'Comfortaa';
            font-style: normal;
            font-weight: 300;
            font-size: 64px;
            line-height: 90px;
            color: #FFF7EB;
            margin-top: 170px;
            max-width: 560px;
        }
        &__description {
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 33px;
            color: #FFF7EB;
            margin:30px 0;
            max-width: 830px;
        }
        &__button {
            background: #27496C;
            border: none;
            border-radius: 20px;
            padding: 16px 64px;
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 500;
            font-size: 36px;
            line-height: 49px;
            color: #FFFFFF;
            margin-bottom: 30px;
        }
        &__links {
            a+a {
                margin-left: 45px;
            }
        }
    }
    &__images {
        margin-top: 260px;
        margin-bottom: 300px;
        position: relative;

        img+img {
            position: absolute;
            right: 5px;
            bottom: 15px;
        }
    } 
}

.interface {
    color: #0A0A0A;
    &__title {
        font-weight: 300;
        font-size: 64px;
        line-height: 70px;
    }
    &__paragraph {
        font-weight: 400;
        font-size: 24px;
        line-height: 33px;
        text-align: center;
    }
    &__switch {
        &-btn {
            font-size: 36px;
            line-height: 40px;
            text-transform: uppercase;
            border-bottom: 3px solid #FFE0B2;
            border-radius: 38px;
            padding: 26px 18px;
        }
    }
}